img {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.game-field {
    /* position: relative; */
    overflow: hidden;
    border: 1px solid green;
    height: 326px;
}

.block-1 {
    display: inline-block;
    position: relative;
    top: -756px;
}
